* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #e3f2fd;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.show-modal {
    outline: none;
    border: none;
    background: #4a98f7;
    padding: 15px 22px;
    color: #fff;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
}

.bottom-sheet {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    opacity: 0;
    pointer-events: none;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    transition: 0.1s linear;
}

.bottom-sheet .sheet-overflay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background: #000;
}

.bottom-sheet.show {
    opacity: 1;
    pointer-events: auto;
}

.bottom-sheet .content {
    background: #fff;
    height: 50vh;
    max-height: 100vh;
    padding: 25px 30px;
    width: 100%;
    max-width: 1100px;
    border-radius: 12px 12px 0 0;
    position: relative;
    transform: translateY(100%);
    transition: 0.3s ease;
}

.bottom-sheet.show .content {
    transform: translateY(0%);
}

.bottom-sheet .header {
    display: flex;
    justify-content: center;
}

.bottom-sheet .drag-icon {
    cursor: grab;
    user-select: none;
    padding: 15px;
    margin-top: -15px;
}

.bottom-sheet .drag-icon span {
    height: 4px;
    width: 40px;
    display: block;
    background: #c7d0e1;
    border-radius: 50px;
}

.bottom-sheet .body {
    overflow-y: auto;
    height: 100%;
    padding: 15px 0 40px;
    scrollbar-width: none;
}

.bottom-sheet .body::-webkit-scrollbar {
    width: 0;
}

.bottom-sheet .body h2 {
    font-size: 25px;
}

.bottom-sheet .body p {
    font-size: 18px;
    margin-top: 20px;
}